/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -0.5px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: 0px; /* -0.5 */
}

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px; /* -0.5 */
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 50px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 24px;
  letter-spacing: 0px; /* -1.75 */
  line-height: 1;
  font-weight: 600;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 10px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 500;
  margin: 15px 0 5px;
}

.post-content h1 {
  font-size: 24px;
}

.post-content h2 {
  font-size: 22px;
  letter-spacing: 0px; /* -1.25 */
}

.post-content h3 {
  font-size: 20px;
  letter-spacing: 0px; /* -1 */
}

.post-content h4 {
  font-size: 16px;
  letter-spacing: 0px; /* -1 */
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #f9f8f5;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  overflow:auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* AK custom CSS mods */
.imgright { float: right; margin-left: 10px; }
.imgcap img {
  border: 1px solid #999;
  max-width: 60%;
}
.imgcap {
  color: #555;
  font-size: 14px;
  text-align: center;
}

.container {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
}
.imgmul2 img {
  max-width: 100%;
}
.imgmul2 h6{
    margin-top: 0px;
    text-align: center;
}
.imgmul2 {
  float: left;
  width: 48%;
  margin: 1%;
}
.imgmul3 img {
  max-width: 100%;
}
.imgmul3 h6{
    margin-top: 0px;
    text-align: center;
}
.imgmul3 {
  float: left;
  width: 30%;
  margin: 1%;
}
.imgmul4 img {
  max-width: 100%;
}
.imgmul4 h6{
    margin-top: 0px;
    text-align: center;
}
.imgmul4 {
  float: left;
  width: 23%;
  margin: 1%;
}

.svgdiv {
  width: 100%;
  text-align: center;
}
/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
/*
    Name:       Base16 Monokai Light
    Author:     Wimer Hazenberg (http://www.monokai.nl)
    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/
.syntax .hll { background-color: #f5f4f1 }
.syntax  { background: #f9f8f5; color: #272822 }
.syntax .c { color: #a59f85 } /* Comment */
.syntax .err { color: #f92672 } /* Error */
.syntax .k { color: #ae81ff } /* Keyword */
.syntax .l { color: #fd971f } /* Literal */
.syntax .n { color: #272822 } /* Name */
.syntax .o { color: #a1efe4 } /* Operator */
.syntax .p { color: #272822 } /* Punctuation */
.syntax .cm { color: #a59f85 } /* Comment.Multiline */
.syntax .cp { color: #a59f85 } /* Comment.Preproc */
.syntax .c1 { color: #a59f85 } /* Comment.Single */
.syntax .cs { color: #a59f85 } /* Comment.Special */
.syntax .gd { color: #f92672 } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gh { color: #272822; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #a6e22e } /* Generic.Inserted */
.syntax .gp { color: #a59f85; font-weight: bold } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #a1efe4; font-weight: bold } /* Generic.Subheading */
.syntax .kc { color: #ae81ff } /* Keyword.Constant */
.syntax .kd { color: #ae81ff } /* Keyword.Declaration */
.syntax .kn { color: #a1efe4 } /* Keyword.Namespace */
.syntax .kp { color: #ae81ff } /* Keyword.Pseudo */
.syntax .kr { color: #ae81ff } /* Keyword.Reserved */
.syntax .kt { color: #f4bf75 } /* Keyword.Type */
.syntax .ld { color: #a6e22e } /* Literal.Date */
.syntax .m { color: #fd971f } /* Literal.Number */
.syntax .s { color: #a6e22e } /* Literal.String */
.syntax .na { color: #66d9ef } /* Name.Attribute */
.syntax .nb { color: #272822 } /* Name.Builtin */
.syntax .nc { color: #f4bf75 } /* Name.Class */
.syntax .no { color: #f92672 } /* Name.Constant */
.syntax .nd { color: #a1efe4 } /* Name.Decorator */
.syntax .ni { color: #272822 } /* Name.Entity */
.syntax .ne { color: #f92672 } /* Name.Exception */
.syntax .nf { color: #66d9ef } /* Name.Function */
.syntax .nl { color: #272822 } /* Name.Label */
.syntax .nn { color: #f4bf75 } /* Name.Namespace */
.syntax .nx { color: #66d9ef } /* Name.Other */
.syntax .py { color: #272822 } /* Name.Property */
.syntax .nt { color: #a1efe4 } /* Name.Tag */
.syntax .nv { color: #f92672 } /* Name.Variable */
.syntax .ow { color: #a1efe4 } /* Operator.Word */
.syntax .w { color: #272822 } /* Text.Whitespace */
.syntax .mf { color: #fd971f } /* Literal.Number.Float */
.syntax .mh { color: #fd971f } /* Literal.Number.Hex */
.syntax .mi { color: #fd971f } /* Literal.Number.Integer */
.syntax .mo { color: #fd971f } /* Literal.Number.Oct */
.syntax .sb { color: #a6e22e } /* Literal.String.Backtick */
.syntax .sc { color: #272822 } /* Literal.String.Char */
.syntax .sd { color: #a59f85 } /* Literal.String.Doc */
.syntax .s2 { color: #a6e22e } /* Literal.String.Double */
.syntax .se { color: #fd971f } /* Literal.String.Escape */
.syntax .sh { color: #a6e22e } /* Literal.String.Heredoc */
.syntax .si { color: #fd971f } /* Literal.String.Interpol */
.syntax .sx { color: #a6e22e } /* Literal.String.Other */
.syntax .sr { color: #a6e22e } /* Literal.String.Regex */
.syntax .s1 { color: #a6e22e } /* Literal.String.Single */
.syntax .ss { color: #a6e22e } /* Literal.String.Symbol */
.syntax .bp { color: #272822 } /* Name.Builtin.Pseudo */
.syntax .vc { color: #f92672 } /* Name.Variable.Class */
.syntax .vg { color: #f92672 } /* Name.Variable.Global */
.syntax .vi { color: #f92672 } /* Name.Variable.Instance */
.syntax .il { color: #fd971f } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
